@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Lora&display=swap');
@layer base{
  h1,p{
    font-family: 'Lora', sans-serif;
  }
  input:placeholder-shown,textarea:placeholder-shown{
    font-family: 'Poppins', sans-serif;
  }
  input::content, textarea::content{
    font-family: 'Poppins', sans-serif;
  }
  input:focus, textarea:focus{
    outline: none;
    border: 2px solid #129B3B;
    box-shadow: 0 0 10px rgba(18, 155, 59, 0.8);
  }
  button:hover{
    box-shadow: 0 0 10px rgba(18, 155, 59, 0.8);
  }
}